
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 280px) and (max-width : 759px) {
    
    .navbar {
        margin: 3rem 1rem;
    }

    .navbar-brand {
        font-size: 1.6rem;
    }
    .container-img {
        width: 80%;
    }
    .container-hero {
        flex-direction: column-reverse;
        justify-content: center;

        & img {
            padding: 0 2rem;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .lg-title-hero {
        text-align: center;
        font-size: 1.875rem;
        line-height: 40px;
        width: 100%;
    }

    .container-text-hero {
        width: 90%;
    }

    .text-hero {
        font-size: 20px;
        text-align: center;
        width: 100%;

    }

    .container-btn {
        margin-right: auto;
        margin-left: auto;
        width: fit-content;
        margin-top: 40px;
    }

    .container-experiencia-text-img {
        flex-direction: column;
    }

    .title-exp {
        font-size: 35px;
    }

    .text-title {
        text-align: center;
    }

    .text-nombre {
        text-align: center;
    }

    .text-presentacion {
        text-align: center;

        font-size: 1.2rem;
    }

    .container-experience-years {
        flex-direction: column;
        margin: 2rem 0;
    }

    .img-exp {
        margin: 0;
        max-width: 100%;
    }

    .container-bt-sm {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
    }

    .cont-text-img-exp {
        display: flex;
        flex-direction: column-reverse;
    }

    .fondoRosa {
        background-position: 50% 50%;
    }

    .service-card {
        margin: 1rem 0;
    }

    .services-cards-container {
        margin-top: 1rem;
        justify-content: center;
    }

    .content-contact {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        padding: 1.5rem 1rem 0 1rem;
    }

    .name-footer {
        font-size: 25px;
    }
    
    .container-menu-footer {
        display: flex;
        justify-content: flex-end;
    }
    
    .subtext-footer {
        font-size: .8rem;
    }
    
    .logoFooter {
        width: 15px;
        margin-right: 1rem;
    }
    
    .copyright {
        font-size: .6rem;
        text-align: right;
    }
    .modal-title {
        font-size: 40px;
    }
    .modal-content {
        width: 95%;
        padding: .8rem;
    }
    .modal-header {
        padding: 0 1rem;
    }
    .lg-title-contact {
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }

    .div-heigth {
        height: 10px
    }
}

@media only screen and (min-width : 760px) and (max-width : 780px) {
    .navbar-brand {
        font-size: 1.3rem;
    }
    .nav-link {
        font-size: 1rem;
    }
    .container-hero {
        & img {
            width: 80%;
        }
    }
    .lg-title-hero {
        font-size: 1.7rem;
        line-height: unset;
    }

    .container-btn {
        margin-top: 2rem;
    }

    .text-hero {
        font-size: 1.1rem;
    }

    .container-text-hero {
        width: 100%;
    }

    .text-presentacion {
        font-size: 18px;
    }

    .title-exp {
        font-size: 40px;
    }

    .description-years {
        font-size: 20px;
    }

    .container-experiencia-text-img {
        flex-direction: column;
    }

    .cont-text-img-exp {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
    }

    .years-exp {
        font-size: 50px;
    }

    .img-exp {
        margin: 0;
    }

    .service-card {
        width: 30%;
    }
    .name-footer {
        font-size: 35px;
    }
    
    .container-menu-footer {
        display: flex;
        justify-content: flex-end;
    }
    
    .subtext-footer {
        font-size: .8rem;
    }
    
    .logoFooter {
        width: 15px;
        margin-right: 1rem;
    }
    
    .copyright {
        font-size: .7rem;
        text-align: right;
    }
    .lg-title-contact {
        font-size: 2rem;
    }
    .fondoRosa {
        background-position: 50% 50%;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 781px) and (max-width : 1024px) {
    .navbar-brand {
        font-size: 1.4rem;
    }
    .nav-link {
        font-size: 1.2rem;
    }
    .lg-title-hero {
        font-size: 1.8rem;
        line-height: unset;
    }
    .container-img {
        width: 80%;
    }
    .container-btn {
        margin-top: 2rem;
    }

    .text-hero {
        font-size: 1.1rem;
    }

    .container-text-hero {
        width: 100%;
    }

    .text-presentacion {
        font-size: 20px;
    }

    .title-exp {
        font-size: 40px;
    }

    .description-years {
        font-size: 20px;
    }

    .container-experiencia-text-img {
        flex-direction: column;
    }

    .cont-text-img-exp {
        margin-top: 5rem;
        display: flex;
        flex-direction: row;
    }

    .years-exp {
        font-size: 50px;
    }

    .img-exp {
        margin: 0;
    }

    .service-card {
        width: 30%;
    }
    .lg-title-contact {
        font-size: 2rem;
    }
    .fondoRosa {
        background-position: 50% 50%;
    }
}

@media only screen and (min-width : 1025px) and (max-width : 1137px) {
    .container-img {
        width: 70%;
    }
    .lg-title-hero {
        font-size: 2.5rem;
        line-height: unset;
    }
    .container-text-hero {
        width: 90%;
    }
    .text-hero {
        font-size: 1.3rem;
    }
    .container-btn {
        margin-top: 2rem;
    }

    .container-text-hero {
        width: 90%;
    }

    .text-presentacion {
        font-size: 20px;
    }

    .title-exp {
        font-size: 40px;
    }

    .description-years {
        font-size: 20px;
    }
    .service-card {
        width: 30%;
    }
    .fondoRosa {
        background-position: 50% 50%;
    }
}

@media only screen and (min-width : 1138px) and (max-width : 1623px) {
    .lg-title-hero {
        font-size: 3rem;
        line-height: unset;
    }
    
    .text-hero {
        font-size: 1.4rem;
    }
    .container-btn {
        margin-top: 35px;
    }
    .container-text-hero {
        width: 90%;
    }
    .text-presentacion {
        font-size: 20px;
    }
    .service-card {
        width: 30%;
    }
    .fondoRosa {
        background-position: 50% 50%;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) and (max-width: 1823px) {}


/* Large screens ----------- */
@media only screen and (min-width : 1824px) {}