footer {
    background-color: rgba(86, 84, 84, 1);
    display: flex;
    justify-content: space-between;
    padding: 43px 120px 0 43px;
    color: rgba(255, 255, 255, 1);
}

.name-footer {
    font-size: 40px;
}

.container-menu-footer {
    display: flex;
    justify-content: flex-end;
}

.subtext-footer {
    font-size: 1rem;
}

.logoFooter {
    width: 20px;
    margin-right: 1rem;
}

.copyright {
    text-align: right;
}