.container-exp {
  margin-top: 30px;
  align-items: center;
  text-align: center;
}

.container-exp img {
  max-height: 80%;
  max-width: 100%;
}

.title-exp {
  color: rgba(86, 84, 84, 1);
  font-weight: 700;
  line-height: 78px;
  font-size: 50px;
  letter-spacing: 0em;
  text-align: center;
}

.container-title-exp {
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  width: fit-content;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.text-primary-color {
  color: #A12568;

}
.text-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  margin-top: 4.375rem;
}

.text-nombre {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #707070;
}

.text-exp {
  text-align: initial;
}

.conatiner-text-presentacion {
  margin-top: 20px;
}

.years-exp {
  font-size: 80px;
  font-weight: 700;
  line-height: 98px;
  text-align: right;
  padding-top: 20px;
}

.years-text-exp {
  font-size: 30px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: right;
}

.text-presentacion {
  text-align: left;
  font-size: 25px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  color: rgba(115, 115, 115, 1);
}

.img-exp {
  max-width: 80%;
  margin-left: 6.25rem;
}

.description-years {
  color: rgba(80, 80, 80, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.cont-text-img-exp {
  padding: 0;
}

.container-years {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-bt-sm {
  margin-top: 25px;
}