.container-exp {
    margin-top: 100px;
    align-items: center;
    text-align: center;
  }
  
  .container-exp img{
    max-height: 80%;
    max-width: 100%;
  }
  
  .title-exp {
    font-weight: 700 bold;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: underline;
  }
  
  .container-title-exp {
    margin-top: 50px;
    text-align: center;
  }
  
  /* .text-exp {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(115, 115, 115, 1);
    width: 90%;
    margin-top: 48px;
  } */
  
  .text-exp {
    text-align: initial;
  }
  .years-exp {
    font-size: 50px;
  }
  
  .years-text-exp {
    font-size: 15px;
  }