.services-cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4.075rem;
}

.cont-title-services {
    margin-top: 14rem;
}
.service-card {
    width: 350px;
    border-radius: 52px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.64);
    padding: 30px;
    cursor: pointer;
}

.service-card:hover *> .text-primary-color {
    font-weight: bold;
    font-size: 1.26rem;
    transition-duration: .5s;
  }

.card-img-top {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 10px;
}
.modal-dialog {
    max-width: unset;
}
.modal-content {
    border-radius: 52px;
    width: 70%;
    padding: 0 2rem 2rem 2rem;
    margin-right: auto;
    margin-left: auto;
    &>* {
        color: rgba(112, 112, 112, 1);
    }
}
.modal-header {
    border-bottom: unset;
    >* {
        color: rgba(80, 80, 80, 1);
    }
}
.modal-title {
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 700;
    line-height: 110px;
}