.container-contact {
    margin-top: 30px;
    margin-bottom: 3.75rem;
    align-items: center;
    text-align: center;
}

.content-contact {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.text-contact {
    text-align: initial;
}