* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;

    &:hover {
        color: white;
    }
}

.cont-background-pink {
    //margin-top: -90px;
}

.scrollImg {
    width: 109px;
    cursor: pointer;
}

.stickyCont {
    position: fixed;
    float: right;
    right: 0;
    bottom: 0;
    z-index: 99;
}

#probando {
    position: initial;
    /* top: 46%; */
    /* left: 49%; */
    /* transform: translate(37%, 40%); */
    height: 100px;
    width: 100%;
    border-radius: 0px 0px 150px 150px;
    background-color: white;
}

.div-heigth {
    height: 100px
}

@import './nav/nav';
@import './hero/hero';
@import './experience/experience';
@import './services/services';
@import './contact/contact';
@import './footer/footer';
@import './mediaQ/mediasQ';