* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

.scrollImg {
  width: 109px;
  cursor: pointer;
}

.stickyCont {
  position: fixed;
  float: right;
  right: 0;
  bottom: 0;
  z-index: 99;
}

#probando {
  position: initial;
  /* top: 46%; */
  /* left: 49%; */
  /* transform: translate(37%, 40%); */
  height: 100px;
  width: 100%;
  border-radius: 0px 0px 150px 150px;
  background-color: white;
}

.div-heigth {
  height: 100px;
}

.navbar-collapse {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
}

.navbar {
  padding: 0;
  margin: 60px 100px;
}

.navbar-brand {
  font-weight: 900;
  font-size: 2.25rem;
}

.navbar-light .navbar-brand {
  color: #737373;
}

.nav-link {
  font-size: 1.5rem;
  padding-left: 25px !important;
}

.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-hero img {
  max-width: 100%;
}

.container-img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.lg-title-hero {
  color: #505050;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: left;
  width: 90%;
}

.container-text-hero {
  margin-top: 50px;
  width: 60%;
}

.text-hero {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
  width: 90%;
}

.btn-pink {
  padding: 1rem 1.75rem;
  height: 48px;
  border-radius: 100px;
  background: #BC448C;
  border-color: #BC448C;
  color: white;
  -webkit-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}

.btn-pink:hover {
  padding: 1rem 2.75rem;
  height: 48px;
  border-radius: 100px;
  background: #BC448C;
  border-color: #BC448C;
  color: white;
}

.container-btn {
  margin-top: 68px;
}

.container-exp {
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container-exp img {
  margin-top: 4rem;
  max-height: 80%;
  max-width: 100%;
}

.container-experiencia-text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title-exp {
  color: #565454;
  font-weight: 700;
  line-height: 78px;
  font-size: 35px;
  letter-spacing: 0em;
  text-align: center;
}

.container-title-exp {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.container-title-exp:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 25%;
  width: 50%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.container-title-exp:hover:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.25);
}

.text-primary-color {
  color: #A12568;
}

.text-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  margin-top: 4.375rem;
}

.text-nombre {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #707070;
}

.text-exp {
  text-align: initial;
}

.conatiner-text-presentacion {
  margin-top: 20px;
}

.years-exp {
  font-size: 80px;
  font-weight: 700;
  line-height: 98px;
  text-align: right;
  padding-top: 20px;
}

.years-text-exp {
  font-size: 30px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: right;
}

.text-presentacion {
  text-align: left;
  font-size: 23px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  color: #737373;
}

.img-exp {
  max-width: 80%;
  margin-left: 6.25rem;
}

.description-years {
  color: #505050;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.cont-text-img-exp {
  padding: 0;
}

.container-years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-bt-sm {
  margin-top: 25px;
}

.container-experience-years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.services-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 4.075rem;
}

.cont-title-services {
  margin-top: 11rem;
}

.service-card {
  width: 350px;
  border-radius: 52px;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.64);
  padding: 30px;
  cursor: pointer;
}

.service-card:hover * > .text-primary-color {
  font-weight: bold;
  font-size: 1.26rem;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.card-img-top {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px;
}

.modal-dialog {
  max-width: unset;
}

.modal-content {
  border-radius: 52px;
  width: 70%;
  padding: 0 2rem 2rem 2rem;
  margin-right: auto;
  margin-left: auto;
}

.modal-content > * {
  color: #707070;
}

.modal-header {
  border-bottom: unset;
}

.modal-header > * {
  color: #505050;
}

.modal-title {
  font-family: Roboto;
  font-size: 3rem;
  font-weight: 700;
  line-height: 110px;
}

.container-contact {
  margin-top: 6.875rem;
  margin-bottom: 6.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content-contact {
  margin-top: 4.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.text-contact {
  text-align: initial;
}

.lg-title-contact {
  color: #505050;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  width: 90%;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

footer {
  background-color: #565454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 43px 120px 0 43px;
  color: white;
}

.name-footer {
  font-size: 40px;
}

.container-menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.subtext-footer {
  font-size: 1rem;
}

.logoFooter {
  width: 20px;
  margin-right: 1rem;
}

.copyright {
  text-align: right;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 280px) and (max-width: 759px) {
  .navbar {
    margin: 3rem 1rem;
  }
  .navbar-brand {
    font-size: 1.6rem;
  }
  .container-img {
    width: 80%;
  }
  .container-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-hero img {
    padding: 0 2rem;
    margin-right: auto;
    margin-left: auto;
  }
  .lg-title-hero {
    text-align: center;
    font-size: 1.875rem;
    line-height: 40px;
    width: 100%;
  }
  .container-text-hero {
    width: 90%;
  }
  .text-hero {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .container-btn {
    margin-right: auto;
    margin-left: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 40px;
  }
  .container-experiencia-text-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-exp {
    font-size: 35px;
  }
  .text-title {
    text-align: center;
  }
  .text-nombre {
    text-align: center;
  }
  .text-presentacion {
    text-align: center;
    font-size: 1.2rem;
  }
  .container-experience-years {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem 0;
  }
  .img-exp {
    margin: 0;
  }
  .container-bt-sm {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }
  .cont-text-img-exp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .service-card {
    margin: 1rem 0;
  }
  .services-cards-container {
    margin-top: 1rem;
  }
  .content-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem 1rem 0 1rem;
  }
  .name-footer {
    font-size: 25px;
  }
  .container-menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .subtext-footer {
    font-size: .8rem;
  }
  .logoFooter {
    width: 15px;
    margin-right: 1rem;
  }
  .copyright {
    font-size: .6rem;
    text-align: right;
  }
  .modal-title {
    font-size: 40px;
  }
  .modal-content {
    width: 95%;
    padding: .8rem;
  }
  .modal-header {
    padding: 0 1rem;
  }
  .lg-title-contact {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
  .div-heigth {
    height: 10px;
  }
}

@media only screen and (min-width: 760px) and (max-width: 780px) {
  .navbar-brand {
    font-size: 1.3rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  .container-hero img {
    width: 80%;
  }
  .lg-title-hero {
    font-size: 1.7rem;
    line-height: unset;
  }
  .container-btn {
    margin-top: 2rem;
  }
  .text-hero {
    font-size: 1.1rem;
  }
  .container-text-hero {
    width: 100%;
  }
  .text-presentacion {
    font-size: 18px;
  }
  .title-exp {
    font-size: 40px;
  }
  .description-years {
    font-size: 20px;
  }
  .container-experiencia-text-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont-text-img-exp {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .years-exp {
    font-size: 50px;
  }
  .img-exp {
    margin: 0;
  }
  .service-card {
    width: 30%;
  }
  .name-footer {
    font-size: 35px;
  }
  .container-menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .subtext-footer {
    font-size: .8rem;
  }
  .logoFooter {
    width: 15px;
    margin-right: 1rem;
  }
  .copyright {
    font-size: .7rem;
    text-align: right;
  }
  .lg-title-contact {
    font-size: 2rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 781px) and (max-width: 1024px) {
  .navbar-brand {
    font-size: 1.4rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .lg-title-hero {
    font-size: 1.8rem;
    line-height: unset;
  }
  .container-img {
    width: 80%;
  }
  .container-btn {
    margin-top: 2rem;
  }
  .text-hero {
    font-size: 1.1rem;
  }
  .container-text-hero {
    width: 100%;
  }
  .text-presentacion {
    font-size: 20px;
  }
  .title-exp {
    font-size: 40px;
  }
  .description-years {
    font-size: 20px;
  }
  .container-experiencia-text-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont-text-img-exp {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .years-exp {
    font-size: 50px;
  }
  .img-exp {
    margin: 0;
  }
  .service-card {
    width: 30%;
  }
  .lg-title-contact {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1137px) {
  .container-img {
    width: 70%;
  }
  .lg-title-hero {
    font-size: 2.5rem;
    line-height: unset;
  }
  .container-text-hero {
    width: 90%;
  }
  .text-hero {
    font-size: 1.3rem;
  }
  .container-btn {
    margin-top: 2rem;
  }
  .container-text-hero {
    width: 90%;
  }
  .text-presentacion {
    font-size: 20px;
  }
  .title-exp {
    font-size: 40px;
  }
  .description-years {
    font-size: 20px;
  }
  .service-card {
    width: 30%;
  }
}

@media only screen and (min-width: 1138px) and (max-width: 1423px) {
  .lg-title-hero {
    font-size: 3rem;
    line-height: unset;
  }
  .text-hero {
    font-size: 1.4rem;
  }
  .container-btn {
    margin-top: 35px;
  }
  .container-text-hero {
    width: 90%;
  }
  .text-presentacion {
    font-size: 20px;
  }
  .service-card {
    width: 30%;
  }
}

/* Desktops and laptops ----------- */
/* Large screens ----------- */
/*# sourceMappingURL=style.css.map */