.container-hero {
    display: flex;
    align-items: center;
    flex-direction: row;
    & img {
        max-width: 100%;
    }
}

.container-img {
    flex-grow: 1;
}

.lg-title-hero {
    color: rgba(80, 80, 80, 1);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: left;
    width: 90%;
}

.container-text-hero {
    margin-top: 50px;
    width: 60%;
}

.text-hero {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(115, 115, 115, 1);
    width: 90%;
    // margin-top: 48px;
}

.btn-pink {
    padding: 1rem 1.75rem;
    height: 48px;
    border-radius: 100px;
    background: #BC448C;
    border-color: #BC448C;
    color: white;
    transition: padding .5s ease-in-out;
}

.btn-pink:hover {
    padding: 1rem 2.75rem;
    height: 48px;
    border-radius: 100px;
    background: #BC448C;
    border-color: #BC448C;
    color: white;
}

.container-btn {
    margin-top: 68px;
}