.container-hero {
    display: flex;
    margin-top: 100px;
    align-items: center;
    & img {
        max-height: 90%;
        max-width: 100%;
        // height: 626.57px;
    }
}

.lg-title-hero {
    font-size: 5rem;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: left;
    width: 90%;
}

.container-text-hero {
    margin-top: 50px;
    width: 80%;
}

.text-hero {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(115, 115, 115, 1);
    width: 90%;
    margin-top: 48px;
}